<div class="edit-pic-modal">

  <!-- Modal content -->
  <div class="modal-content">
     
    <a href="/"><span  class="close close-edit-pic">&times;</span></a>
    <form action="#" class="edit-post-form">
      <div class="  -textfield   -js-textfield   -textfield--floating-label">
        <input class="  -textfield__input" type="text" name="edit-post-title" value="{{pic.title}}">
        <label class="  -textfield__label" >Edit Image Link</label>
      </div>
       <button class="button">
     Save
    </button>
    <button id="delete-pic" class="button">
      Delete Image
    </button>
    </form>
   
  </div>

</div>
<script src="/javascript/edit-pic.js"></script>