<div class="card-columns">
  <div class="card">
   <a href="/"><img src="/../‫images/painting.jpg" class="card-img-top" alt="painting"></a>
    <div class="card-body">
      <h5 class="card-title">Painting</h5>
      <p class="card-text">Please click the image above to view our artist's selections of Paintings!</p>
    </div>
  </div>
 <div class="card">
    <a href="/"><img src="/../‫images/mmed.jpg" class="card-img-top" alt="painting"></a>
    <div class="card-body">
      <h5 class="card-title">Mixed Media</h5>
      <p class="card-text">Please select the image above to view our artist's selection of Mixed Media! </p>
    </div>
  </div>
  <div class="card">
    <a href="/"><img src="/../‫images/drawing.jpg" class="card-img-top" alt="drawing"></a>
    <div class="card-body">
      <h5 class="card-title">Drawing</h5>
      <p class="card-text">Please select the image above to view our artist's selection of Drawings!</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
 <div class="card">
   <a href="/"><img src="/../‫images/water.jpg" class="card-img-top" alt="water"></a>
    <div class="card-body">
      <h5 class="card-title">Watercolor</h5>
      <p class="card-text">Please select the image above to view our artist's selection of Watercolors!</p>
    </div>
  </div>
  <div class="card">
    <a href="/"><img src="/../‫images/ink.jpg" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title">Ink</h5>
      <p class="card-text">Please select the image above to view our artist's selection of Ink creations!</p>
    </div>
  </div>
  <div class="card">
    <a href="/"><img src="/../‫images/graph.jpg" class="card-img-top" alt="graphite"></a>
    <div class="card-body">
      <h5 class="card-title">Graphite</h5>
      <p class="card-text">Please select the image above to view our artist's selection of Graphite creations!</p>
    </div>
  </div>
  <div class="card">
   <a href="/"><img src="/../‫images/sculpture.jpg" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title">Sculpture</h5>
      <p class="card-text">Please select the image above to view our artist's selection of Sculpture Pieces!</p>
    </div>
  </div>
  <div class="card">
    <a href="/"><img src="/../‫images/print.jpg" class="card-img-top" alt="print"></a>
    <div class="card-body">
      <h5 class="card-title">Printmaking</h5>
      <p class="card-text">Please select the image above to view our artist's selection of Printmaking creations!</p>
    </div>
  </div>
</div>